<a href="https://colab.research.google.com/github/Ambira/Python-OIC/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello world")

Hello world

**Fundamental data types in Python**

int, float, str, list, tuple, set and dict are the fundamental data types

In [ ]:
print(20)
type(20)

20

int

In [ ]:
print(20.4)
type(20.4)

20.4

float

In [ ]:
print(True)
type(True)

True

bool

In [ ]:
print("Hello World")
type("Hello World")

Hello World

str

In [ ]:
print([20,21.5,"ram", 60])       #list in python is heterogenous []
type([20,21.5,"ram", 60])        #list is mutable in nature

[20, 21.5, 'ram', 60]

list

In [ ]:
print(20,21.5,"ram", 60)        #tuple ()
type((20,21.5,"ram", 60))       #tuple is immutable in nature

20 21.5 ram 60

tuple

In [ ]:
print({2,2,4,4,5,1,1})        #set{}
print(type({2,2,4,4}))        #set is a unique unordered collection of items

{1, 2, 4, 5}
<class 'set'>

In [ ]:
print({'name':'Ambira','age':18})
type({'name':'Ambira','age':18})

{'name': 'Ambira', 'age': 18}

dict

Variable: is a name given to a memory location. Avariable name can be tge pointer to the stored values/objects.

In [ ]:
num = 20
print(num)
print(type(num))

20
<class 'int'>

In [ ]:
num1 = 20.4
print(num1)
print(type(num))

20.4
<class 'int'>

In [ ]:
#input function: pre-built function that helps to thake the input from the user.
name= input("What is your name?")
print(name)

What is your name?ambira
ambira

In [ ]:
#arithmatic operations
print(2+4)
print(4-2)
print(4*2)
print(4**2)
print(5/2)
print(5//2)
print(5%2)

6
2
8
16
2.5
2
1

In [ ]:
#unlike mathematics
print("I am sorry "*20)     #string and integer can be muntiplied
print("Ram"+"Bahadur")

I am sorry I am sorry I am sorry I am sorry I am sorry I am sorry I am sorry I am sorry I am sorry I am sorry I am sorry I am sorry I am sorry I am sorry I am sorry I am sorry I am sorry I am sorry I am sorry I am sorry
RamBahadur

In [ ]:
# STRING CONCATENATION
print('hello' + 'world')    #doesn't put sace by default
print('hello','world')
print(f'hello ram')

helloworld
hello world
hello ram

In [ ]:
name='Ambira'
age=18
print(f'my name is {name} and my age is {age}')
print('my name is ',name,'and age is',age)
print('my name is '+name+' and age is '+str(age))
print('my name is'+' '+name+' '+' and age is '+str(age))

my name is Ambira and my age is 18
my name is  Ambira and age is 18
my name is Ambira and age is 18
my name is Ambira  and age is 18

In [ ]:
print('It\'s a hot day') #use a slash
print("It's a \"Sunny\" day") #escape sequence
print("It's a \"Sunny\" day") #escape sequence
print('''Hello peeps we
are learning python''')

It's a hot day
It's a "Sunny" day
It's a "Sunny" day
Hello peeps we
are learning python

In [ ]:
#Type conversion
birth_year= int(input("What is your birth year?"))
age=2025-birth_year

# print(type(age))
print('your age is ',age)
print("your age is "+str(age))
print(f"your age is {age}")
# age=int(age)
# print(type(age))

What is your birth year?2007
your age is  18
your age is 18
your age is 18

In [ ]:
#Type conversion
birth_year= int(input("What is your birth year?"))
age=2025-birth_year

# print(type(age))
print('your age is ',age)
print("your age is "+str(age))
print(f"your age is {age}")
# age=int(age)
# print(type(age))

What is your birth year?2007
your age is  18
your age is 18
your age is 18

In [ ]:
#string
text = "We are learning python"
#indexing: accessing elements based on the index/position.      []
print(text[0]) #indexing starts from 0
print(text[1]) #indexing starts from 1
print(text[-1]) #indexing starts from -1 last element
print(text[2])  #indexing starts from 2 space is also an element
print(text[-2]) #indexing starts from second last element
#print(text[40]) #indexing error, because there are no 41 elements

W
e
n

o

In [ ]:
#slicing: taking certain part/pieces of the string
text = "we are learning python"
print(text[0:4]) #0 inclusive 4 exclusive
print(text[:4]) # same as above, better
print(text[4:5])  #slicing with a gap of 1 is like indexing
print(text[5:])   #5th index to last
print(text[:-1])    #last exclusive
print(text[:])    #copy operation
print(text[::-1])   #[start:end:operation] here -1 is reverse

we a
we a
r
e learning python
we are learning pytho
we are learning python
nohtyp gninrael era ew

In [ ]:
print('Ambira'[::-1])

aribmA

In [ ]:
#methods
text = "We are learning python"
print(text.upper())
print(text.lower())
print(text.title())
print(text.find('learning'))
print(text.replace("We","They"))

WE ARE LEARNING PYTHON
we are learning python
We Are Learning Python
7
They are learning python

In [ ]:
#pre-built functions
print(len(text))
print('we' in text)
print('We'in text)

22
False
True

In [ ]:
#lists
items=[2,4.5,'ram',4]
#indexing
print(items[0])
print(items[1])
print(items[-1])
#slicing
print(items[0:2])
print(items[:3])
print(items[2:])
print(items[:])
print(items[:40])

2
4.5
4
[2, 4.5]
[2, 4.5, 'ram']
['ram', 4]
[2, 4.5, 'ram', 4]
[2, 4.5, 'ram', 4]

In [ ]:
items.append(40)
print(items)

[2, 4.5, 'ram', 4, 40]

In [ ]:
items.insert(2,'sita')
print(items)

[2, 4.5, 'sita', 'ram', 4, 40]

In [ ]:
items.remove(2)
print(items)

[4.5, 'sita', 'ram', 4, 40]

In [ ]:
items.pop(4)          #deletes elements based on index
print(items)

[4.5, 'sita', 'ram', 4]

In [ ]:
values = items[:]
print(values)

[4.5, 'sita', 'ram', 4]

In [ ]:
items.clear()
print(items)

[]

In [ ]:
# values.sort()
# print(values)

In [ ]:
#soriting
items=[4,2,True, 1.5 , False, 8]
items.sort()
print(items)

[False, True, 1.5, 2, 4, 8]

In [ ]:
values = items.copy()
print(values)

[False, True, 1.5, 2, 4, 8]

In [ ]:
items.reverse()
print(items)

[8, 4, 2, 1.5, True, False]

In [ ]:
#Wap to arrange the given elements in descending order
items=[4,5,7,1]  #output: [7,5,4,1]
items.sort()
print(items[::-1])
items.reverse()
print(items)

[7, 5, 4, 1]
[7, 5, 4, 1]

In [ ]:
items=[4,5,7,1]  #output: [7,5,4,1]
items.sort(reverse=True)
print(items)

[7, 5, 4, 1]

str: upper, lower, find, replace
list: append, insert, remove, clear, pop, sort, copy, reverse,      **index,count**
tuple: index, count(only those metods of list which don't change the value of list)

In [ ]:
#indexing
items=[2,4.5,True, 'Ram']
print(items[0])
print(items[1])
print(items[-1])
#slicing
print(items[0:4])
print(items[:3])
print(items[2:])
print(items[:])
#methods
print(items.index(2))
print(items.count(2))

items.append(40)
print(items)
items.insert(2,'sita')
print(items)

2
4.5
Ram
[2, 4.5, True, 'Ram']
[2, 4.5, True]
[True, 'Ram']
[2, 4.5, True, 'Ram']
0
1
[2, 4.5, True, 'Ram', 40]
[2, 4.5, 'sita', True, 'Ram', 40]

In [ ]:
#sets: each set is unordered unique collection of items
items={4,4,2,2,1}
print(items)

{1, 2, 4}

In [ ]:
#indexing
# print(items[0])
#unordered so indexing as well as slicing is not possible

In [ ]:
items.add(40)
print(items)

{40, 1, 2, 4}

In [ ]:
items.pop()
print(items)

items.discard(2)
print(items)

{2, 4}
{4}

In [ ]:
my_set = {1, 2, 3}
your_set = {2,3,4}
print(my_set.difference(your_set))
print(my_set)
# print(my_set.discard(2))
# print(my_set.union(your_set))
# print(my_set.intersection(your_set))
# print(my_set.isdisjoint(your_set))

{1}
{1, 2, 3}

In [ ]:
my_set = {1, 2, 3}
your_set = {2,3,4}
my_set.difference_update(your_set)
print(my_set)

{1}

In [ ]:
my_set = {1, 2, 3}
your_set = {2,3,4}
my_set = my_set.difference(your_set)
print(my_set)

{1}

In [ ]:
#dictionary
items = {
    'name':'Ambira',
    'age':18,
    'is_graduted':False
}

In [ ]:
print(items)

{'name': 'Ambira', 'age': 18, 'is_graduted': False}

In [ ]:
#print(items[0])                    #indexing is not possible with index, but with key
print(items['age'])
print(items['name'])

18
Ambira

In [ ]:
#but get methods is preferred more while accessing key, value
print(items.get('name'))
print(items.get('age'))

Ambira
18

In [ ]:
print(items.items())
print(items.keys())
print(items.values())
print(items.popitem())       #deletes the last key, value pair and it is shown
print(items)

dict_items([('name', 'Ambira'), ('age', 18), ('is_graduted', False)])
dict_keys(['name', 'age', 'is_graduted'])
dict_values(['Ambira', 18, False])
('is_graduted', False)
{'name': 'Ambira', 'age': 18}

In [ ]:
print(items)

{'name': 'Ambira', 'age': 18}

In [ ]:
items['age'] = 19
print(items)

In [ ]:
items["Age"] = 22
print(items)

{'name': 'Ambira', 'age': 19, 'Age': 22}

In [ ]:
items.update({'age':26, 'Age':20, 'roll no':2})
print(items)

{'name': 'Ambira', 'age': 26, 'Age': 20, 'roll no': 2}

In [ ]:
items={
    'Names':['Ram', 'Shyam', 'Sita'],
    'Age':[22,20,21]
}
print(items.get('Names'))
print(items.get('Names')[1])

['Ram', 'Shyam', 'Sita']
Shyam

In [ ]:
items['Names'][1] = "YOLO" #add values
print(items)

{'Names': ['Ram', 'YOLO', 'Sita'], 'Age': [22, 20, 21]}

In [ ]:
#Conditional statement(if elif elif...else)
price = 95
if price > 100 :
  print("price is greater than 100")

else:
  print('price is less than 100')

price is less than 100

In [ ]:
#imagine a situation whre you send your small brother to buy an item
#you gave him 500rs note to buy something
#built 3 cases, where he just bought the item
#bought an item and also had some chocolates
#paisa napugera farkyo

In [ ]:
price - 420
if price< 500:
  print('Less than 500 brother happy')
elif price == 500:
  print('Brother sad')
else:
  print('Brother cannot buy item money not enough')

Less than 500 brother happy

In [ ]:
is_cold = True
if is_cold == True:
  print('drink tea or coffee')
  print('wear warm clothes')
else:
  print('drink a lot of water')
  print('wear light clothes')
print('have a good day')

drink tea or coffee
wear warm clothes
have a good day

In [ ]:
is_friend = True
if is_friend :
  print('messafe allowed')
else:
  print('message not allowed')

messafe allowed

In [ ]:
#ternary operation( one line ifelse)
is_friend = True
print('message allowed' if is_friend else 'message not allowed')

message allowed

In [ ]:
is_friend = True
has_money = True

if is_friend and has_money:
  print('you can take credit or buy with cash')
if is_friend and not has_money:
  print('you can take credit')
if not is_friend and has_money:
  print('you can buy with cash')
elif not is_friend and not has_money:
  print('you cannot buy anything')

you can take credit or buy with cash

In [ ]:
#make the variable per whuch will take the percentage input from the user
#if the per is 40-80, print guy is avg


per = input('Enter your percentage ')
per = int(per)
if  40<= per  <= 80:
  print('you are avg')
elif per >=80:
  print('talented guy')
else:
  print('try again')

Enter your percentage40
you are avg