<a href="https://colab.research.google.com/github/Ambira/Python-OIC/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello world")

Hello world

**Fundamental data types in Python**

int, float, str, list, tuple, set and dict are the fundamental data types

In [ ]:
print(20)
type(20)

20

int

In [ ]:
print(20.4)
type(20.4)

20.4

float

In [ ]:
print(True)
type(True)

True

bool

In [ ]:
print("Hello World")
type("Hello World")

Hello World

str

In [ ]:
print([20,21.5,"ram", 60])       #list in python is heterogenous []
type([20,21.5,"ram", 60])        #list is mutable in nature

[20, 21.5, 'ram', 60]

list

In [ ]:
print(20,21.5,"ram", 60)        #tuple ()
type((20,21.5,"ram", 60))       #tuple is immutable in nature

20 21.5 ram 60

tuple

In [ ]:
print({2,2,4,4,5,1,1})        #set{}
print(type({2,2,4,4}))        #set is a unique unordered collection of items

{1, 2, 4, 5}
<class 'set'>

In [ ]:
print({'name':'Ambira','age':18})
type({'name':'Ambira','age':18})

{'name': 'Ambira', 'age': 18}

dict

Variable: is a name given to a memory location. Avariable name can be tge pointer to the stored values/objects.

In [ ]:
num = 20
print(num)
print(type(num))

20
<class 'int'>

In [ ]:
num1 = 20.4
print(num1)
print(type(num))

20.4
<class 'int'>

In [ ]:
#input function: pre-built function that helps to thake the input from the user.
name= input("What is your name?")
print(name)

What is your name?Ambira
Ambira

In [ ]:
#arithmatic operations
print(2+4)
print(4-2)
print(4*2)
print(4**2)
print(5/2)
print(5//2)
print(5%2)

6
2
8
16
2.5
2
1

In [ ]:
#unlike mathematics
print("I am sorry "*20)     #string and integer can be muntiplied
print("Ram"+"Bahadur")

I am sorry I am sorry I am sorry I am sorry I am sorry I am sorry I am sorry I am sorry I am sorry I am sorry I am sorry I am sorry I am sorry I am sorry I am sorry I am sorry I am sorry I am sorry I am sorry I am sorry
RamBahadur

In [ ]:
# STRING CONCATENATION
print('hello' + 'world')    #doesn't put sace by default
print('hello','world')
print(f'hello ram')

helloworld
hello world
hello ram

In [ ]:
name='Ambira'
age=18
print(f'my name is {name} and my age is {age}')
print('my name is ',name,'and age is',age)
print('my name is '+name+' and age is '+str(age))
print('my name is'+' '+name+' '+' and age is '+str(age))

my name is Ambira and my age is 18
my name is  Ambira and age is 18
my name is Ambira and age is 18
my name is Ambira  and age is 18

In [ ]:
print('It\'s a hot day') #use a slash
print("It's a \"Sunny\" day") #escape sequence
print("It's a \"Sunny\" day") #escape sequence
print('''Hello peeps we
are learning python''')

It's a hot day
It's a "Sunny" day
It's a "Sunny" day
Hello peeps we
are learning python

In [ ]:
#Type conversion
birth_year= int(input("What is your birth year?"))
age=2025-birth_year

# print(type(age))
print('your age is ',age)
print("your age is "+str(age))
print(f"your age is {age}")
# age=int(age)
# print(type(age))

What is your birth year?2007
your age is  18
your age is 18
your age is 18

In [ ]:
#Type conversion
birth_year= int(input("What is your birth year?"))
age=2025-birth_year

# print(type(age))
print('your age is ',age)
print("your age is "+str(age))
print(f"your age is {age}")
# age=int(age)
# print(type(age))

What is your birth year?2007
your age is  18
your age is 18
your age is 18

In [ ]:
#string
text = "We are learning python"
#indexing: accessing elements based on the index/position.      []
print(text[0]) #indexing starts from 0
print(text[1]) #indexing starts from 1
print(text[-1]) #indexing starts from -1 last element
print(text[2])  #indexing starts from 2 space is also an element
print(text[-2]) #indexing starts from second last element
#print(text[40]) #indexing error, because there are no 41 elements

W
e
n

o

In [ ]:
#slicing: taking certain part/pieces of the string
text = "we are learning python"
print(text[0:4]) #0 inclusive 4 exclusive
print(text[:4]) # same as above, better
print(text[4:5])  #slicing with a gap of 1 is like indexing
print(text[5:])   #5th index to last
print(text[:-1])    #last exclusive
print(text[:])    #copy operation
print(text[::-1])   #[start:end:operation] here -1 is reverse

we a
we a
r
e learning python
we are learning pytho
we are learning python
nohtyp gninrael era ew

In [ ]:
print('Ambira'[::-1])

aribmA

In [ ]:
#methods
text = "We are learning python"
print(text.upper())
print(text.lower())
print(text.title())
print(text.find('learning'))
print(text.replace("We","They"))

WE ARE LEARNING PYTHON
we are learning python
We Are Learning Python
7
They are learning python

In [ ]:
#pre-built functions
print(len(text))
print('we' in text)
print('We'in text)

22
False
True

In [ ]:
#lists
items=[2,4.5,'ram',4]
#indexing
print(items[0])
print(items[1])
print(items[-1])
#slicing
print(items[0:2])
print(items[:3])
print(items[2:])
print(items[:])
print(items[:40])

2
4.5
4
[2, 4.5]
[2, 4.5, 'ram']
['ram', 4]
[2, 4.5, 'ram', 4]
[2, 4.5, 'ram', 4]

In [ ]:
items.append(40)
print(items)

[2, 4.5, 'ram', 4, 40]

In [ ]:
items.insert(2,'sita')
print(items)

[2, 4.5, 'sita', 'ram', 4, 40]

In [ ]:
items.remove(2)
print(items)

[4.5, 'sita', 'ram', 4, 40]

In [ ]:
items.pop(4)          #deletes elements based on index
print(items)

[4.5, 'sita', 'ram', 4]

In [ ]:
values = items[:]
print(values)

[4.5, 'sita', 'ram', 4]

In [ ]:
items.clear()
print(items)

[]

In [ ]:
# values.sort()
# print(values)

In [ ]:
#soriting
items=[4,2,True, 1.5 , False, 8]
items.sort()
print(items)

[False, True, 1.5, 2, 4, 8]

In [ ]:
values = items.copy()
print(values)

[False, True, 1.5, 2, 4, 8]

In [ ]:
items.reverse()
print(items)

[8, 4, 2, 1.5, True, False]

In [ ]:
#Wap to arrange the given elements in descending order
items=[4,5,7,1]  #output: [7,5,4,1]
items.sort()
print(items[::-1])
items.reverse()
print(items)

[7, 5, 4, 1]
[7, 5, 4, 1]

In [ ]:
items=[4,5,7,1]  #output: [7,5,4,1]
items.sort(reverse=True)
print(items)

[7, 5, 4, 1]

str: upper, lower, find, replace
list: append, insert, remove, clear, pop, sort, copy, reverse,      **index,count**
tuple: index, count(only those metods of list which don't change the value of list)

In [ ]:
#indexing
items=[2,4.5,True, 'Ram']
print(items[0])
print(items[1])
print(items[-1])
#slicing
print(items[0:4])
print(items[:3])
print(items[2:])
print(items[:])
#methods
print(items.index(2))
print(items.count(2))

items.append(40)
print(items)
items.insert(2,'sita')
print(items)

2
4.5
Ram
[2, 4.5, True, 'Ram']
[2, 4.5, True]
[True, 'Ram']
[2, 4.5, True, 'Ram']
0
1
[2, 4.5, True, 'Ram', 40]
[2, 4.5, 'sita', True, 'Ram', 40]

In [ ]:
#sets: each set is unordered unique collection of items
items={4,4,2,2,1}
print(items)

{1, 2, 4}

In [ ]:
#indexing
# print(items[0])
#unordered so indexing as well as slicing is not possible

In [ ]:
items.add(40)
print(items)

{40, 1, 2, 4}

In [ ]:
items.pop()
print(items)

items.discard(2)
print(items)

{1, 2, 4}
{1, 4}

In [ ]:
my_set = {1, 2, 3}
your_set = {2,3,4}
print(my_set.difference(your_set))
print(my_set)
# print(my_set.discard(2))
# print(my_set.union(your_set))
# print(my_set.intersection(your_set))
# print(my_set.isdisjoint(your_set))

{1}
{1, 2, 3}

In [ ]:
my_set = {1, 2, 3}
your_set = {2,3,4}
my_set.difference_update(your_set)
print(my_set)

{1}

In [ ]:
my_set = {1, 2, 3}
your_set = {2,3,4}
my_set = my_set.difference(your_set)
print(my_set)

{1}

In [ ]:
#dictionary
items = {
    'name':'Ambira',
    'age':18,
    'is_graduted':False
}

In [ ]:
print(items)

{'name': 'Ambira', 'age': 18, 'is_graduted': False}

In [ ]:
#print(items[0])                    #indexing is not possible with index, but with key
print(items['age'])
print(items['name'])

18
Ambira

In [ ]:
#but get methods is preferred more while accessing key, value
print(items.get('name'))
print(items.get('age'))

Ambira
18

In [ ]:
print(items.items())
print(items.keys())
print(items.values())
print(items.popitem())       #deletes the last key, value pair and it is shown
print(items)

dict_items([('name', 'Ambira'), ('age', 18), ('is_graduted', False)])
dict_keys(['name', 'age', 'is_graduted'])
dict_values(['Ambira', 18, False])
('is_graduted', False)
{'name': 'Ambira', 'age': 18}

In [ ]:
print(items)

{'name': 'Ambira', 'age': 18}

In [ ]:
items['age'] = 19
print(items)

{'name': 'Ambira', 'age': 19}

In [ ]:
items["Age"] = 22
print(items)

{'name': 'Ambira', 'age': 19, 'Age': 22}

In [ ]:
items.update({'age':26, 'Age':20, 'roll no':2})
print(items)

{'name': 'Ambira', 'age': 26, 'Age': 20, 'roll no': 2}

In [ ]:
items={
    'Names':['Ram', 'Shyam', 'Sita'],
    'Age':[22,20,21]
}
print(items.get('Names'))
print(items.get('Names')[1])

['Ram', 'Shyam', 'Sita']
Shyam

In [ ]:
items['Names'][1] = "YOLO" #add values
print(items)

{'Names': ['Ram', 'YOLO', 'Sita'], 'Age': [22, 20, 21]}

In [ ]:
#Conditional statement(if elif elif...else)
price = 95
if price > 100 :
  print("price is greater than 100")

else:
  print('price is less than 100')

price is less than 100

In [ ]:
#imagine a situation whre you send your small brother to buy an item
#you gave him 500rs note to buy something
#built 3 cases, where he just bought the item
#bought an item and also had some chocolates
#paisa napugera farkyo

In [ ]:
price - 420
if price< 500:
  print('Less than 500 brother happy')
elif price == 500:
  print('Brother sad')
else:
  print('Brother cannot buy item money not enough')

Less than 500 brother happy

In [ ]:
is_cold = True
if is_cold == True:
  print('drink tea or coffee')
  print('wear warm clothes')
else:
  print('drink a lot of water')
  print('wear light clothes')
print('have a good day')

drink tea or coffee
wear warm clothes
have a good day

In [ ]:
is_friend = True
if is_friend :
  print('messafe allowed')
else:
  print('message not allowed')

messafe allowed

In [ ]:
#ternary operation( one line ifelse)
is_friend = True
print('message allowed' if is_friend else 'message not allowed')

message allowed

In [ ]:
is_friend = True
has_money = True

if is_friend and has_money:
  print('you can take credit or buy with cash')
if is_friend and not has_money:
  print('you can take credit')
if not is_friend and has_money:
  print('you can buy with cash')
elif not is_friend and not has_money:
  print('you cannot buy anything')

you can take credit or buy with cash

In [ ]:
#make the variable per whuch will take the percentage input from the user
#if the per is 40-80, print guy is avg


per = input('Enter your percentage ')
per = int(per)
if  40<= per  <= 80:
  print('you are avg')
elif per >=80:
  print('talented guy')
else:
  print('try again')

Enter your percentage 90
talented guy

In [ ]:
#looping(Iteration/like recurision)
#there are two types of loops in python. for loop and while loop
#for loop is and uncontrolled loop meaning; it iterates over all the data.
#while loop is an controlled loop meaning; the index is in our control.

In [ ]:
int, float , bool,               str, list, tuple, set, dict
  #DATA TYPES                         data strucutres

(int, float, bool, str, list, tuple, set, dict)

In [ ]:
#range keyword is used to make int obj iterable
for item in range(100):
  print(item)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
# for item in range(4.0):         because infinite value exists between any two 0.0 and 4.0
#   print(item)                   so even the range can't make float obj iterable

In [ ]:
for item in range(True):
  print(item)
for item in range(False):
  print(item)

0

In [ ]:
i = 0                 #initialization
while i < len("hello"):   #condition check
  print('hello'[i])
  i=i+1           #condition update

h
e
l
l
o

In [ ]:
text = 'hello'
i = 0
while i < len(text):
  print(text[i])
  i+=1

h
e
l
l
o

In [ ]:
item = ['hii', 'hello']
i = 0
while i<len(item):
  print(item[i])
  i+=1

hii
hello

In [ ]:
for item in 'hii':
  print(item)

h
i
i

In [ ]:
item = 'hii'
i = 0
while i < len(item):
  print(item[i])
  i+=1

h
i
i

In [ ]:
for item in ['hii', 'hello']:
  print(item)

hii
hello

In [ ]:
for value in ('yes', 20):
  print(item)

hello
hello

In [ ]:
value = ('yes', 20)
i = 0
while i < len(value):
  print(value[i])
  i+=1

yes
20

In [ ]:
for value in ('yes', 20):
  print(value)

yes
20

In [ ]:
for item in {2,2,4,4}:
  print(item)

2
4

In [ ]:
# item = {2,2,4,4}
# i = 0
# while i < len(item):
#   print(item[i])
#   i+=1

In [ ]:
for value in {'Name':'Ram','Age':18}.items():
  print(value)

('Name', 'Ram')
('Age', 18)

In [ ]:
#WAP to calculate the sum of all the prices in the given list
prices = [20,30,40,50]
sum = 0
for price in prices:
  sum = sum +price
print(sum)

140

In [ ]:
#WAP to calculate the sum of all the prices in the given list
prices = [20,30,40,50]
sum = 0
i=0
while i< len(prices):
    sum = sum + prices[i]
    i+=1
print(sum)

140

In [ ]:
#WAP to find the maximum age of given ages using for loop
ages = [20,30,40,10,25]
maximum1 = 0
for age in ages:
  if age>maximum1:
    maximum1 = age
print(maximum1)

40

In [ ]:
ages = [20,30,40,10,25]
print(max(ages))

40

In [ ]:
#WAP to find the maximum age of given ages using for loop
ages = [-20,-30,-40,-10,-25]
maximum = 0
maximum = ages[0]
for age in ages:
  if age>maximum:
    maximum = age
print(maximum)

-10

In [ ]:
#WAP to find the maximum age of given ages using while loop
ages = [20,30,40,10,25]
i = 0
maximum = 0
while i<len(ages):
  if ages[i]>maximum:
    maximum = ages[i]
  i = i+1
print(maximum)

40

In [ ]:
ages = [20,30,40,10,25]
i = len(ages)
maximum = 0
while i > 0:
  if ages[i-1]>maximum:
    maximum = ages[0];
  i -=1
print(maximum)

20

In [ ]:
# ages = [20,30,40,50,25]
# i = 50
# while i < 50 + len(ages):
#   if ages[i-50]

In [ ]:
#printing patterns
for i in range(5):
  print('*'*i)

i=0
while i<5:
  i+=1
  print('*'*i)

*
**
***
****
*
**
***
****
*****

In [ ]:
#printing patterns
n=5
for i in range(5):
  print('*'*(n-i))

i=5
while i>0:
  print('*'*(i))
  i=i-1

*****
****
***
**
*
*****
****
***
**
*

In [ ]:
#printing patterns
n = 5
for i in range(n, 0, -1):   # start at 5, go down to 1
    print(' ' * (n - i) + '*' * i)

n = 5
i = n
while i > 0:
    print(' ' * (n - i) + '*' * i)
    i -= 1

*****
 ****
  ***
   **
    *
*****
 ****
  ***
   **
    *

In [ ]:
#weight converter
#take inout wt from the user
#ask the unit, if it is in kg or pound
#convert kg to pound and vice-versa
while True:
  weight = float(input("Enter your weight: "))
  unit = input("Enter K for kgs and L for pounds ").lower()
  if unit == 'k':
    converted = weight/0.45
    print(f"You are {converted} pounds")
  elif unit == 'l':
      converted = weight * 0.45
      print(f'You are {converted} kilograms')


  else:
    print('You entered wrong unit')

Enter your weight: 50
Enter K for kgs and L for pounds l
You are 22.5 kilograms
Enter your weight: 50
Enter K for kgs and L for pounds k
You are 111.11111111111111 pounds
Enter your weight: 55
Enter K for kgs and L for pounds k
You are 122.22222222222221 pounds
Enter your weight:

ValueError: could not convert string to float: ''

In [ ]:
#Car game
#take the input command from the user
#if the user gives start print car started, stop car stopped

command = input("Enter your commmand: ")
if command.upper() == "START":
  print('Car Started ...')
elif command.lower() == 'stop':
    print('Car stopped')
else:
  print('You entered the wrong command')

Enter your commmand: start
Car Started ...

In [ ]:
started = False
stopped = False
while True:
  command = input("Enter your commmand: ").lower()
  if command == "start":
    if started:
      print("Car is already started")
    else:
      print('Car Started ...')
      started = True
  elif command == 'stop':
    if stopped:
      print('Car is already stopped')
    else:
      print('Car stopped')
      stopped = True

  elif command == 'help':
    print('''
    start - to start the car
    stop - to stop the car
    quit - to close the game''')
  elif command == 'quit':
      print('Thsank you sfor playing this game')
      break
  else:
    print('You entered the wrong command')

Enter your commmand: start
Car Started ...
Enter your commmand: start
Car is already started
Enter your commmand: stop
Car stopped
Enter your commmand: stop
Car stopped
Enter your commmand: start
Car is already started
Enter your commmand: quit
Thsank you for playing this game

In [ ]:
#WAP that can filter only the even elements from the given list, using both for and while loop
items = [1, 2, 3, 4, 5, 6]
even_for = []

for num in items:
    if num % 2 == 0:
        even_for.append(num)

print("Even numbers (for loop):", even_for)

Even numbers (for loop): [2, 4, 6]

In [ ]:
items = [1, 2, 3, 4, 5, 6]
even_while = []

i = 0
while i < len(items):
    if items[i] % 2 == 0:
        even_while.append(items[i])
    i += 1

print("Even numbers (while loop):", even_while)

Even numbers (while loop): [2, 4, 6]

In [ ]:
#function: useful block of code that can be userd repeatedly
#def keyword is used to define FUCNTION

def greet():
  print('hello sathi')
  print('Welcome home')
  print("tea or coffee")
  print('please have a seat')
greet();

hello sathi
Welcome home
tea or coffee
please have a seat

In [ ]:
#parameters: to make a function dynamic , parameters are used
def gret(name):
  print(f'hello {name} sathi')
  print(f'welcome home {name}')
  greet('ram')
  greet('sita')     #the actual value passed to the parameter is called argument

In [ ]:
#positional argument
#WAP that takes name and age as parameter,and says hello name you are age years old
def intro(name,age):
  print(f'Hello {name} you are {age} years old')
intro('ambira','18')

Hello ambira you are 18 years old

In [ ]:
#keyword argument
def intro(name,age):
  print(f'Hello {name} you are {age} years old')
intro(age= 18, name='ambira')

Hello ambira you are 18 years old

In [ ]:
#default argument
def intro(name,age=18):
  print(f'Hello {name} you are {age} years old')
intro('ambira','18')

Hello ambira you are 18 years old

In [ ]:
#return statement
def greet():
  return 'hello sathi'
print(greet())

hello sathi

In [ ]:
#WAP that checks whether a number is even or odd
def is_even(num):
  if num%2 == 0:
    print(True)
  else:
    print(False)
is_even(20)

True

In [ ]:
#WAP that checks whether a number is even or odd
def is_even(num):
  if num%2 == 0:
    return True
  else:
    return False
is_even(20)

True

In [ ]:
#WAP that checks whether a number is even or odd
def is_even(num):
  if num%2 == 0:
    return True
  return False
is_even(21)

False

In [ ]:
#WAP that checks whether a number is even or odd
def is_even(num):
  if num%2 == 0:
    print(True)
  print(False)
is_even(20)

True
False

In [ ]:
#WAP that takes list as parameter and returns only even list
# Function to filter even numbers from a list
def get_even_list(items):
    even_list = []
    for num in items:
        if num % 2 == 0:
            even_list.append(num)
    return even_list

# Example usage
numbers = [1, 2, 3, 4, 5, 6]
result = get_even_list(numbers)
print("Even numbers:", result)

Even numbers: [2, 4, 6]

In [ ]:
#functional Programming(map, filter, zip, reduce)
def double(value):
  return value *2
print(double(4))

8

In [ ]:
def double(value):
  return value*2
print(double([2,3,4,5]))

[2, 3, 4, 5, 2, 3, 4, 5]

In [ ]:
def double(value):
  result = []
  for item in value:
    result.append(item * 2)
  return result
print(double([2,3,4,5]))

[4, 6, 8, 10]

In [ ]:
def double(value):
  return value * 2
print(list(map(double,[2,3,4,5])))      #MAP using = no loop lol and list is list duh
#map helps to reduce the code of above for loop

[4, 6, 8, 10]

In [ ]:
#WAP that filters only the even number from the given list
items = [2,3,4,5,6]
def only_even(value):
  evens=[]
  for data in items:
    if data%2==0:
      evens.append(data)
  return evens
print(only_even(items))
print(only_even([6,7,8,9]))

[2, 4, 6]
[2, 4, 6]

In [ ]:
items = [2, 3, 4, 5, 6]

def only_even(value):
    if value % 2 == 0:
        return value   # return the number if it's even

print(list(filter(only_even, items)))

[2, 4, 6]

In [ ]:
#lambda(anonymous) function: called anoymous because its behaviour changes on diff topics
print(list(map(lambda item: item *2, [2,3,4,5]))) #removes fn

[4, 6, 8, 10]

In [ ]:
items = [2, 3, 4, 5, 6]

print(list(filter(lambda x:x%2==0,[2,3,4,5,6])))

[2, 4, 6]

In [ ]:
#list comprehension     (best way)
print([item * 2 for item in [2,4,5,6]])
#     logic     loop

[4, 8, 10, 12]

In [ ]:
#LIST comprehension
print([item for item in [2,3,4,5,6] if item % 2 == 0])

[2, 4, 6]

In [ ]:
#[1,2,3,4,5]    [4,16]
items = [1,2,3,4,5]
def even_sq(li):
  sq_even = []
  for item in li:
    if item % 2 == 0:
      sq_even.append(item * item)
  return sq_even
print(even_sq(items))

[4, 16]

In [ ]:
items = [1,2,3,4,5]
def only_even(item):
  if item %2 == 0:
    return item
even = list(filter(only_even, items))

def sq(li):
  return li *li
print(list(map(sq, even)))

[4, 16]

In [ ]:
items = [1,2,3,4,5]
def only_even(item):
  if item %2 == 0:
    return item

def sq(li):
  return li *li
print(list(map(sq, filter(only_even, items))))

[4, 16]

In [ ]:
items = [1, 2, 3, 4, 5]

# Filter even numbers, then square them
result = list(map(lambda x: x * x, filter(lambda x: x % 2 == 0, items)))

print(result)

[4, 16]

In [ ]:
#WAP that finds only the unique elements of the given list/removing duplicates
items = [2,2,3,2,4,4]
unique = []
for item in items:
  if item not in unique:
    unique.append(item)
print(unique)

[2, 3, 4]

In [ ]:
items = [2,2,3,2,4,4]
print(list(set(items)))

[2, 3, 4]

In [ ]:
#WAP that finds only the unique elements of the given list/removing duplicates
items = [2,2,3,2,4,4]
unique = []
for item in items:
  if items.count(item) == 1:
    unique.append(item)
print(unique)

[3]

In [ ]:
#using while loop
items = [2,2,3,2,4,4]
unique = []

while i<len(items):
  if items[i] not in unique:
    unique.append(items[i])
  i=i+1
print(unique)

[2, 3, 4]

In [ ]:
#using while
items = [2,2,3,2,4,4]
unique = []
i =  0
while i<len(items):
  if items.count(items[i])==1:
    unique.append(items[i])
  i +=1
print(unique)

[3]

In [ ]:
#for loop on dict
items = {
    'Name':'ram',
    'Age':20,
    'Address':'Heaven'
}

In [ ]:
for item in items.keys():
  print(item)
for item in items.values():
  print(item)
for item in items.items():
  print(item)

Name
Age
Address
ram
20
Heaven
('Name', 'ram')
('Age', 20)
('Address', 'Heaven')

In [ ]:
for item in items.items():
  k, v = item
  print(k, v)

Name ram
Age 20
Address Heaven

In [ ]:
for key,value in items.items():
  print(key)
  print(value)

Name
ram
Age
20
Address
Heaven

In [ ]:
def operation(items):
  sol = []
  for vlaue in items:
    if value %2 == 0:
      sol.append(value **2)
    else:
      sol.append(value **3)
  return sol
print(operation([2,3,4,5]))

NameError: name 'value' is not defined

In [ ]:
def op(item):
  if item %2 == 0:
    return item **2
  return item **3
print(list(map(op, [2,3,4,5])))

[4, 27, 16, 125]

In [ ]:
print(list(map(lambda item: item **2 if item %2 ==0 else item **3, [2,3,4,5])))

[4, 27, 16, 125]

In [ ]:
print([item **2 if item %2 ==0 else item **3 for item in [2,3,4,5]])

[4, 27, 16, 125]

In [ ]:
#Error/Exception handling           try except ...except else finally
try:
  birth_year = float(input('Enter your birth year: '))
  age = 2026-birth_year
  print(age)
except:
  print("Birth year must be a number ")

Enter your birth year:
Birth year must be a number

In [ ]:
try:
  birth_year = float(input('Enter your birth year: '))
  age = 2026-birth_year
  risk = 100/age
  print(risk)
except:
  print("INVALID BIRTH YEAR ")

Enter your birth year: 66
0.05102040816326531

In [ ]:
try:
  birth_year = float(input('Enter your birth year: '))
  age = 2026-birth_year
  risk = 100/age
  print(risk)
except:
  print("INVALID BIRTH YEAR ")

Enter your birth year: 2026
INVALID BIRTH YEAR

In [ ]:
try:
  birth_year = float(input('Enter your birth year: '))
  age = 2026-birth_year
  risk = 100/age
  print(risk)
except ZeroDivisionError:
  print("Birth year cannot be current year ie. 2026")
except ValueError:
  print("BIRTH YEAR MUST BE A NUMBER")

Enter your birth year: try:   birth_year = float(input('Enter your birth year: '))   age = 2026-birth_year   risk = 100/age   print(risk) except ZeroDivisionError:   print("Birth year cannot be current year ie. 2026") except ValueError:   print("BIRTH YEAR MUST BE A NUMBER")
BIRTH YEAR MUST BE A NUMBER

In [ ]:
try:
  birth_year = float(input('Enter your birth year: '))
  age = 2026-birth_year
  risk = 100/age
  print(risk)
except ZeroDivisionError:
  print("Birth year cannot be current year ie. 2026")
except ValueError:
  print("BIRTH YEAR MUST BE A NUMBER")
else:
  print('Congrats on calcuating risk')
finally:
  print('HAVE A GOOD DAY')

Enter your birth year: 2026
Birth year cannot be current year ie. 2026
HAVE A GOOD DAY

In [ ]:
#back to function topic
#Docstrings: strings inside the function, that gives func informations,

def greet():
  '''this function is made by ambira
  that helos to greet the user'''
  print('hello bro, welcome home')
greet()

hello bro, welcome home

In [ ]:
#bin and complex

print(bin(5))
print(int('0b101',2))
print(int('0o101',8))

0b101
5
65

In [ ]:
#object types
print(type(2+4))
print(type(3.3+7.7))

<class 'int'>
<class 'float'>

In [ ]:
#booleans
print(bool(bool))
print(bool(True))
print(bool(1))
print(bool(5))
print(bool(' '))

print(bool())
print(bool(False))
print(bool(0))
print(bool(''))
print(bool([]))

True
True
True
True
True
False
False
False
False
False

In [ ]:
#*args and **kwargs
def super_funct(*num):
  print(sum(num))
  print(num)
  print(*num)
super_funct(2,3,4,5)

14
(2, 3, 4, 5)
2 3 4 5

In [ ]:
#*args and **kwargs
def super_funct(*args, **kwargs):
  total = 0
  for value in kwargs.values():
    total += value
  return sum(args) + total
super_funct(2,3,4,5, num1 = 5, num2 = 10)

29

In [ ]:
#packages recognize words like print, round, abs, etc
print(round(4.6))
print(abs(-4.5))

5
4.5

In [ ]:
#packages(import statement)
import math
print(math.floor(4.9))
print(math.ceil(4.4))

4
5

In [ ]:
from math import sqrt
print(sqrt(4))

2.0

In [ ]:
!pip install pyjokes
import pyjokes
joke = pyjokes.get_jokes('en','all')
print(joke)

Requirement already satisfied: pyjokes in /usr/local/lib/python3.12/dist-packages (0.8.3)

In [ ]:
#random package(sleep)
import random
print(random.random())
print(random.randint(2,8))
print(random.choice([2,3,4,5]))

0.43166774951038445
8
4

In [1]:
#WAP that selects 4 lucky winner from list of participants same person cannot be selected more than once
from random import choice
participants = ['ram','sita','hari','shyam','john', 'jack', 'nina']
for i in range(4):
  winner = choice(participants)
  participants.remove(winner)
  print(winner)

nina
shyam
sita
ram

In [6]:
#defaultdict and OrderedDict
d1 = {"a":2, 'b': 4}
d2 = {"b":4, 'a': 2}
print(d1== d2)

True

In [7]:
from collections import OrderedDict
d1 = OrderedDict({"a":2, 'b': 4})
d2 = OrderedDict({"b":4, 'a': 2})
print(d1== d2)

False

In [12]:
#alternative
d1 = OrderedDict()
d2 = OrderedDict()
d1['a']  = 2
d1['b'] = 1
d2['b']  = 1
d2['a'] = 2
print(d1)
print( d1==d2)

OrderedDict({'a': 2, 'b': 1})
False

In [17]:
from collections import defaultdict
d1 = {"a":2, 'b': 4}
print(d1.get('x'))
print(d1['x'])

None

KeyError: 'x'

In [19]:
from collections import defaultdict
d1 = defaultdict(float,{'a':2, 'b': 4})
print(d1.get('x'))

None

In [24]:
from collections import defaultdict
d1 = defaultdict(lambda:'this key does not exist',{'a':2, 'b': 4})
print(d1['x'])

this key does not exist

In [22]:
from collections import defaultdict
d1 = defaultdict(lambda:5,{'a':2, 'b': 4})
print(d1['x'])

5

In [25]:
from re import A
#scope: what variables do a function have access to?
a = 2
def scope():
  a = 5     #local variable
  return a
print(scope())

5

In [27]:
a = 2       #global variables
def scope():
  a = 4         #parent local variable of inner function
  def inner():
    return a
  return inner()
print(scope())

4

In [28]:
a = 2       #global variables
def scope():
  def inner():
    return a
  return inner()
print(scope())

2

In [30]:
 def scope():
  def inner():
    return sum
  return inner()
print(scope())        #local > parent local > global > built-in

<built-in function sum>

In [31]:
#range            range(start: end: gap)
for i in range(5):
  print(i)

0
1
2
3
4

In [33]:
for i in range(5,10):
  print(i)

5
6
7
8
9

In [34]:
for i in range(5,10,2):
  print(i)

5
7
9